<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>HR系统_demo</title>
	<meta name="theme-color" content="#33691E">
</head>

<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/materialize.min.js"></script>

	<main>
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper light-green darken-4">
					<a href="#" class="brand-logo"><img src="" style="width:1em; height:1em;" alt="something to fill in"/>HR系统_demo</a>
				</div>
			</nav>
		</div>

		<div class="container">
			<!-- don'no how 2 let <div> auto-fit height -->
			<br><br>
			<div class="row">
				<form class="col s12 m8 offset-m2 l8 offset-l2" method="post">
					<h5 class="center">评分系统</h5>
					<div class="row">
						<div class="col s12">
							<ul class="tabs">
								{% for each in data %}
								<li class="tab col s3"><a href="#{{ each[0] }}">{{ each[0] }}</a></li>
								{% endfor %}
							</ul>
						</div>
						{% for each in data %}
						<div class="col s12" id="{{ each[0] }}">
							<div class="row">
								<h6 class="col s12 center">自评部分</h6>
								<div class="divider col s12"></div>
								<div class="input-field col s4">
									<input type="number" name="dim-self" id="dim-self" required>
									<label for="dim-self">维度自评</label>
								</div>
								<div class="input-field col s4">
									<input type="number" name="act-self" id="act-self" required>
									<label for="act-self">活动自评</label>
								</div>
								<div class="input-field col s4">
									<input type="number" name="act-num" id="act-num" required>
									<label for="act-num">活动项数</label>
								</div>
								<div class="input-field col s6">
									<input type="number" name="dly-self" id="dly-self" required>
									<label for="dly-self">日常自评</label>
								</div>
								<div class="input-field col s6">
									<input type="number" name="dly-act" id="dly-act" required>
									<label for="dly-act">日常项目</label>
								</div>
								<div class="divider col s12"></div>
								<div class="input-field col s6">
									<input type="number" name="mntr-dim" id="mntr-dim" required>
									<label for="mntr-dim">部长维度评分</label>
								</div>
								<div class="input-field col s6">
									<input type="number" name="mntr-act" id="mntr-act" required>
									<label for="mntr-act">部长活动评分</label>
								</div>
								<div class="input-field col s6">
									<input type="number" name="attd" id="attd" required>
									<label for="attd">考勤得分</label>
								</div>
								<div class="input-field col s6">
									<input type="number" name="bonus" id="bonus" required>
									<label for="bonus">加分</label>
								</div>
								<div class="divider col s12"></div>
								<h6 class="col s6 left-align">自评部分总分：<span id="self-total">59</span></h6>
								<h6 class="col s6 left-align">最后得分：<span id="total">59</span></h6>
							</div>
						</div>
						{% endfor %}
					</div>
					<button class="btn col s3 waves-effect waves-light right" type="submit">提交<i class="material-icons right">send</i></button>
				</form>
			</div>
		</div>



	</main>

	<script>
	$(document).ready(function() {
		//Materialize.updateTextFields();
		//$('ul.tabs').tabs();
	});

	function count() {
		// stupid way of instant updating count-result
		var dim_self = Number(document.getElementById("dim-self").value);
		var act_self = Number(document.getElementById("act-self").value);
		var act_num = Number(document.getElementById("act-num").value);
		var dly_self = Number(document.getElementById("dly-self").value);
		var dly_act = Number(document.getElementById("dly-act").value);
		var mntr_dim = Number(document.getElementById("mntr-dim").value);
		var mntr_act = Number(document.getElementById("mntr-act").value);
		var atdc = Number(document.getElementById("attd").value);
		var bns = Number(document.getElementById("bonus").value);
		var self_total = dim_self + act_self + act_num + dly_self + dly_act;
		var total = self_total + mntr_dim + mntr_act + atdc + bns;
		document.getElementById("self-total").innerHTML = self_total;
		document.getElementById("total").innerHTML = total;
		return;
	}
	setInterval("count()", 500);

	</script>
</body>
</html>
