<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>HR系统_demo</title>
	<meta name="theme-color" content="#33691E">
</head>

<body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/js/materialize.min.js"></script>

	<main>
		<div class="navbar-fixed">
			<nav class="light-green darken-4">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo center"><img src="" style="width:1em; height:1em;" alt="something to fill in"/>HR系统_demo</a>
					<ul id="out" class="dropdown-content">
						<li><a href="#!">手滑了....</a></li>
						<li><a href="{{ url_for('logout') }}">确认登出</a></li>
					</ul>
					<ul class="right">
						<li><a class="dropdown-button" href="#!" data-activates="out">登出</a></li>
					</ul>
					<ul class="left">
						<li><a href="{{ url_for('personal') }}">返回</a></li>
					</ul>
				</div>
			</nav>
		</div>


		<div class="container">
			<div class="container">
				<br>
				<form method="post">
					<div class="row valign-wrapper">
						<div class="input-field col s3 left">
							<select name="direction">
								<option value="name" selected>姓名</option>
								<option value="id">编号</option>
							</select>
						</div>
						<div class="input-field col s8">
							<input name="content" id="search" type="text" class="black-text" required>
							<!--label for="search"><i class="material-icons black-text">search</i>搜索</label-->
						</div>
						<button class="btn-flat waves-effect waves-dark col s1 right valign" type="submit"><i class="material-icons">search</i></button>
					</div>
				</form>
			</div>

			{% for each in result %}
			<div class="card">
				<div class="card-content">
					<div class="row">
						<span class="card-title col s4 left">Issue&nbsp;No.{{ each[0] }}</span>
						<span class="card-title col s7">{{ each[1] }}</span>
					</div>
					<div class="row">
						<div class="divider"></div><br>
						<div class="col s4"><a href="/update_issue/{{ each[0] }}" class="light-green-text text-darken-4" title="单击以修改"><b>{{ each[2] }}</b></a></div>
						<pre class="col s8" style="white-space:pre-wrap;word-wrap:break-word">{{ each[3] }}</pre>
						<br>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>




	</main>

	<script>
		$(document).ready(function(){
			$('.collapsible').collapsible();
			$('select').material_select();
		});
	</script>
</body>
</html>
